.main-content .page-content #monthproduction-chart {
  bottom: 0 !important;
  left: 0 !important;
  position: absolute !important;
}
.main-content .page-content #warehouse-chart {
  bottom: 0 !important;
  left: 0 !important;
  position: absolute !important;
}